*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2? family= Abril+Fatface &familia = Raleway: peso @ 100; 400; 600; 700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #edecfd 100%);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: block;
    }

   

/* pagina principal*/

.navbar-nav {
    color: #362052;
    padding-left: 20px;
    text-transform: uppercase;
}

.navbar-nav .nav-item:hover {
    color: #ad9cc4;
    transform: scale(1.1);
}

.mifoto {
    text-align: right;
}

@media screen and (max-width: 830px) {
    .mifoto {
    display:none;
    }
    }


.titulos {
    margin: 20px;
    padding: 20px;
}

.titulos .principal {
    color: #362052;
    font-family: 'DM Serif Display', serif;
    font-size: 80px;
    font-weight: bold;
}

.titulos .segundo {
    color: #ad9cc4;
    font-family: 'DM Serif Display';
    font-style: italic;
    font-weight: 200;
    font-size: 40px;
}

/* Tabajos */

.headertrabajo {
    width: 252px;
    height: 83px;
}

.conoce {
    color: #362052;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: bold;
}

.conocedescripcion {
    color: #ad9cc4;
    font-family: 'DM Serif Display';
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
}

.trabajosgeneral {
    margin: 20px;
    padding: 20px;
}

#carouselExampleIndicators {
    margin: 25px;
    padding: 5px;
}

.container {
    padding-top: 20px;
}


/* Footer */

.ultimo{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #362052;
    justify-content: center;
    padding: 2px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 10px;
}

.ultimoinicio {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #362052;
    justify-content: center;
    padding: 2px;
    padding-top: 800px;
    padding-bottom: 20px;
    margin: 10px;
}